<body>

    <div class="background-container">
        <div class="icon">
            <a href="https://www.freepnglogos.com/pics/medical-logo-png" title="Image from freepnglogos.com"> <img
                    src="https://www.freepnglogos.com/uploads/medical-logo-png-5.png" width="200"
                    alt="medical logo png" /></a>
            <h1 class="logo">
                Global Health <br> Hospitals
            </h1>
        </div>
        <div class="fieldset-container">
            <div class="content">
                <button type="button" class="btn btn-outline-success btn-rounded" data-mdb-ripple-color="dark"
                    routerLink="add-patient">ADD PATIENT</button>
                <button type="button" class="btn btn-outline-success btn-rounded" data-mdb-ripple-color="dark"
                    routerLink="list-patient">LIST-PATIENT</button>
                <button type="button" class="btn btn-outline-success btn-rounded" data-mdb-ripple-color="dark"
                    routerLink="list-appointment">LIST-APPOINTMENT</button>
                <button type="button" class="btn btn-outline-success btn-rounded" data-mdb-ripple-color="dark"
                    routerLink="list-token">LIST-TOKEN</button>
                <button type="button" class="btn btn-outline-danger btn-rounded" data-mdb-ripple-color="dark"
                    (click)="logout()">Logout</button>
            </div>
            <div id="container">
                <router-outlet></router-outlet>
            </div>

        </div>
        <div style="height: 50vh;"></div>

    </div>
</body>